body {
    /* background-color: black; */
}
.outside {
    background-color: #cfd1cf;
 }
.main   {
    width: 80%; 
    border: 10px; 
    padding-top: 20px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    height: 90%;
    position: center;

     background-color: white;
}

.card-body {
    padding-right: 15px;
    padding-left: 15px;
}
.credit-cards   {
    background-color: #86bd7f;
    width: 220px;
    text-align: center;
}
.card-footer   {
    background-color: #cfd1cf;
    height: 60px;
}
